<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:method="POST" th:action="@{/people}" th:object="${person22}">
    <label for="labelId">Your name :</label>
    <input type="text" th:field="*{name}" id="labelId"/>
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"  >
        name error
    </div>
    <br/>
    <label for="labelId2">Your age :</label>
    <input type="text" th:field="*{age}" id="labelId2"/>
    <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}"  >
        name error
    </div>
    <br/>
    <label for="labelId3">Your email :</label>
    <input type="text" th:field="*{email}" id="labelId3"/>
    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"  >
        name error
    </div>
    <br/>
    <input type="submit" value="Create/Создать"/>
    <p th:text="${key}">value</p>
</form>
</body>
</html>