<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ildus</title>
</head>

<body>

<p>Привет</p>
<p>HELLO WORLD</p>
<a href="/hello-world.html">NON WORKING /hello-world.html</a>
<br>
<a href="hello2.html">NON WORKING hello2.html</a>
<br>
<a href="/hello2.html">NON WORKING /hello2.html</a>
<br>
<a href="/hello/hello-world">/hello/hello-world</a>
<br>
<a href="/hello/hello2">/hello/hello2</a>
<br>
<a href="/hello/hello3/">/hello/hello3/  @GetMapping("/hello3/")</a>
<br>
<a href="/hello/hello4/">/hello/hello4/   @RequestMapping(name = "/hello4/",method = RequestMethod.GET)</a>
<br>
<a href="/hello/hello5">/hello/hello5   @RequestMapping(name = "/hello5",method = RequestMethod.GET)</a>
<br>
</body>

</html>